// include js deps
script(type="text/javascript", src="lib/angular/angular.js")
script(type="text/javascript", src="lib/angular-resource/angular-resource.js")
script(type="text/javascript", src="lib/angular-cookies/angular-cookies.js")
script(type="text/javascript", src="lib/angular-sanitize/angular-sanitize.js")
script(type="text/javascript", src="lib/angular-route/angular-route.js")

// include app deps
script(type="text/javascript", src="js/app.js")
script(type="text/javascript", src="js/controllers/main.js")
